body {
    margin: 0 !important;
    padding: 0 !important;
    /*margin: 60px auto;*/
    margin-top: 0px;
    width: 100%;
}



nav ul {
    /*font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #a6a6a6;
    font-style: italic;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
a:hover {
    /*text-decoration: underline;*/
    color: black;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
h1 {
    font-size: 2.5em;
    font-family:'Courier New', 'Arial', 'Sans-Serif';
    font-weight: normal;
}
p {
    font-size: 1.15em;
    line-height: 1.4em;
    color: #333;
}
p.bigtext{
    font-size: 1.35em;
}
nav {
    font-size: 1.25em;
}

.accent{
    /*color: #a51537;*/
    font-weight: bold;
    /*text-decoration: underline;*/
}

.block{
    padding-bottom: 0px;
    border-bottom: 1px solid #a6a6a6;
    width: 100%;
    background: #fAfAfA;
}
.page{
    margin: auto;
    padding: 1px;

    border-left: 1px solid #a6a6a6;
    border-right: 1px solid #a6a6a6;

    background: white;

    width: 960px;
    max-width: 95%;
    height: 100%;

    overflow: hidden;
}

article img.title{
    margin-bottom: 30px;
}

header{
    border-bottom: 1px solid #a6a6a6;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    background: #685c50;
}
header h1{
    margin: auto;
    padding-left: 0px; 
    width: 960px;
    max-width: 95%;
}
footer {
    margin: auto;
    width: 100%;
    background: white;
    height: 200px;
    padding-top: 20px;
}
footer p{
    margin: auto;
    width: 960px;
    max-width: 95%;
    font-size: 1em;
    color: #5d5d5d;
}

article{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    /*margin-bottom: 40px;*/
}

img{
    display: block;
    max-width: 100%;
}
img.outlined{
    border-left: 1px solid #a6a6a6;
    border-right: 1px solid #a6a6a6;
    border-top: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6;
}
.pdf{
    margin: 0px auto;
}

.cogspage{
    background-image: url("data/cogs.PNG");
    /*background-repeat: repeat-y;*/
}