@charset "UTF-8";
/*---------------------------------------------------------------------------*/
/*  01 Reset
/*  02 Vars
/*  03 Blocks
/*  04 Elements
/*  05 Modifiers
/*  06 Misc
/*---------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------*/
/*  01 Reset
/*---------------------------------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*---------------------------------------------------------------------------*/
/*  02 Vars
/*---------------------------------------------------------------------------*/

:root{
	--date-color: #999;
	--separator-color: #ddd;
	/* Letter size - print margin. */
	--inner-width: calc(8.5in - 5mm);
}


/*---------------------------------------------------------------------------*/
/*  03 Blocks
/*---------------------------------------------------------------------------*/

html {
	font-family: "Segoe UI", Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
}

body {
	max-width: 100%;
	line-height: 1.1em;
	margin: auto;
	width: var(--inner-width);
	/* Scale to fit letter size page. */
	font-size: 80%;
	/* Undo font scale without affecting line wrapping so font size is standard when not printing. */
	transform: scale(calc(1/0.8));
	transform-origin: top center;
}
@media print {
	body {
		margin-top: 0;
		transform: scale(1.0);
	}
}

h1 {
	font-weight: bold;
	font-size: 1.5em;
	margin-top: 20px;
	margin-bottom: 10px;
}

h2 {
	border-top: 1px var(--separator-color) solid;
	padding-top: 10px;
	margin-top: 30px;
	margin-bottom: 15px;
	font-weight: bold;
	font-size: 1.3em;
}

h3 {
	font-weight: bold;
	font-size: 1.05em;
}

h4 {
	margin-bottom: 5px;
}

p {
	margin-top: 10px;
}

b {
	font-weight: bold;
}

ul {
	list-style-type: disc;
	margin-left: 1em;
}

.date {
	font-style: italic;
	color: var(--date-color);
	margin-top: 3px;
	margin-bottom: 3px;
}

.indented {
	padding-left: 20px;
}

.chunk {
	margin-top: 20px;
	margin-bottom: 25px;
}

a {
	text-decoration: none;
}
@media print {
	a {
		color: inherit;
	}
}

.email {
	color: inherit;
}